## config/database.yml
DATABASE_NAME=fun-testing-four_development
DATABASE_USERNAME=root
DATABASE_PASSWORD=
DATABASE_POOL=50
DATABASE_HOST=127.0.0.1

DATABASE_TEST_NAME=fun-testing-four_test
DATABASE_TEST_USERNAME=root
DATABASE_TEST_PASSWORD=
DATABASE_TEST_POOL=50
DATABASE_TEST_HOST=127.0.0.1
